* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "myfont";
  src: url("src/geforce_bold-webfont.woff") format("woff");
}

html,
body {
  margin: 0;
  background-color: #000;
  font-family: myfont;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}

#header-img {
  width: 10vw;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
  list-style-type: none;
  text-transform: uppercase;
}

.content {
  margin-top: 100px;
}
