* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "myfont";
  src: url(src/geforce_bold-webfont.woff) format("woff");
}

html,
body {
  margin: 0;
  background-color: #000;
  font-family: myfont;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

video {
  cursor: pointer;
  margin: 20px 0;
  width: 95%;
}

h2 {
  margin: 20px 0;
}

input {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

#header {
  display: block;
  position: fixed;
  background: #000;
  z-index: 2;
}

#header-img {
  width: 10vw;
}
#nav-bar {
  display: block;
}
#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  text-transform: uppercase;
}

a {
  color: #999;
  padding: 15px;
  text-decoration: none;
}
a:hover {
  color: #76b900;
}

#membership {
  display: flex;
  flex-wrap: wrap-reverse;

  justify-content: center;
  margin-top: 60px;
  text-align: center;
}

.content {
  margin-top: 100px;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  width: calc(90% / 3);
  margin: 10px;

  border: 1px solid #000;
  border-radius: 3px;
  background: #292929;
}

.option .tier {
  width: 100%;
  padding: 15px 0;
  font-weight: 700;
}

.option h2 {
  margin-top: 15px;
}

.option ul {
  margin: 30px;
  height: 220px;
}

.option button,
#submit {
  background: rgb(118, 185, 0);
  color: white;
  border-color: rgb(118, 185, 0);
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px 8px;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  min-width: 200px;
  margin: 10px 0;
}

#submit {
  margin: 20px 0;
}

.option button:hover,
#submit:hover {
  border-color: rgb(106, 167, 0);
  background: rgb(106, 167, 0);
}

#Free button {
  background: #292929;
  color: rgb(118, 185, 0);
  border-color: rgb(118, 185, 0);
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px 8px;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  min-width: 200px;
  margin: 10px 0;
}

#Free button:hover {
  border-color: rgb(106, 167, 0);
  background: rgb(34, 49, 34);
}

#Priority li,
#RTX li {
  list-style-image: url(src/icon-check-premium.svg);
}

#Free li {
  list-style-image: url(src/icon-check-free.svg);
  color: #cccccc;
}

#Free .tier {
  background: #1a1a1a;
}
#Priority .tier {
  background: #76b900;
}
#RTX .tier {
  background-image: url(src/gfn-tier-bg-3080.png);
  background-size: cover;
}

#fortnite {
  background-image: url(src/gfn-fornite-global-launch-xl-2560-d@2x.jpg);
  position: relative;
}

#textfortnite {
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: left;
  width: 70%;
}

#textfortnite h2 {
  font-size: 40px;
}
#textfortnite h3 {
  font-size: 20px;
}

#platform {
  background-image: url(src/geforce-now-platform-2560x580-d.jpg);
}

#devices {
  display: flex;
  flex-direction: column;
  background-image: url(src/geforce-now-devices-2560x770-d@2x.jpg);
  height: auto;
  min-height: 800px;
  align-items: center;
  justify-content: center;
}

#devices p {
  width: 90%;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 100%;
  text-align: center;
}

.smallbanner {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;

  align-items: center;
  justify-content: center;
}

#games1 {
  position: relative;
  width: 8680px;
  height: 160px;
  background: transparent url(src/1st-mt.png) left center repeat-x;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  animation: slideAppsDesktop 50s linear infinite;
}

#games2 {
  position: relative;
  width: 8680px;
  height: 160px;
  background: transparent url(src/2nd-mt.png) center center repeat-x;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  animation: slideAppsDesktop 60s linear infinite;
}

#games3 {
  position: relative;
  width: 8680px;
  height: 160px;
  background: transparent url(src/3rd-mt.png) right center repeat-x;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  animation: slideAppsDesktop 70s linear infinite;
}

#games {
  position: relative;
  width: 100%;
  top: 0px;
  float: left;
  color: #000;
  background-color: #fff;
  padding-bottom: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#videoframe {
  background-image: url(src/geforce-now-video-2560-770-d@2x.jpg);
  /* min-height: 800px; */
}

#videoframe span {
  margin: 0 0 20px;
}

@keyframes slideAppsDesktop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-2170px, 0, 0);
  }
}

.flexicons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
  margin: 35px 0;
}

.deviceicon {
  width: 150px;
  margin: 20px 20px;
}
#Free .switch {
  visibility: hidden;
}

.switch,
#Free .switch {
  display: flex;
  width: 90%;
}

.switch button,
#Free .switch button {
  min-width: 50%;
  margin: 20px 0;
  padding: 2px 1px;
  background: #555555;
  border-color: #555555;
}

.switch button:hover {
  background: #555555;
  border-color: #555555;
  cursor: pointer;
}

.switch button.active,
.switch button.active:hover {
  background: #76b900;
  border-color: #76b900;
  cursor: default;
}

.bigger {
  font-size: 40px;
}

.info {
  color: #cccccc;
  font-size: smaller;
}

.green {
  color: #76b900;
}
.nav-active {
  /* background-color: #76b900; */
  color: #76b900;
}

.one-month {
  display: none;
}

.six-months {
  display: none;
}

.price-visible {
  display: block;
}

.one-month h3 {
  visibility: hidden;
}

.bold-message {
  font-size: 22px;
  font-weight: bold;
  visibility: hidden;
}

#RTX .bold-message {
  visibility: visible;
}

#menuToggle input {
  display: none;
}

li::marker {
  font-size: 40px;
}

/* DESKTOP BREAKPOINT */
@media only screen and (min-width: 1350px) {
}

/* LAPTOP BREAKPOINT */
@media only screen and (min-width: 1024px) and (max-width: 1349px) {
}

/* TABLET BREAKPOINT */
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  #textfortnite {
    top: 30%;
    left: 5%;
  }
  .option ul {
    height: 250px;
  }

  #platform {
    background-size: 200%;
  }
}

/* MOBILE BREAKPOINT */
@media only screen and (max-width: 639px) {
  #fortnite {
    background-size: 200%;
  }
  #platform,
  #devices {
    background-size: 300%;
    margin-top: 0px;
  }
  #textfortnite {
    /* position: static; */
    left: 5%;
    top: 5%;
  }

  h2 {
    max-width: 98%;
  }

  .banner {
    min-height: 600px;
    height: auto;
  }

  /* .option {
    min-height: 667px;
  } */

  .deviceicon {
    margin: 10px 10px;
  }

  /* #header {
    position: static;
    display: block;
    
  } */

  .option {
    width: 95%;
  }

  #header-img {
    display: none;
  }

  #menuToggle {
    display: block;
    position: fixed;
    top: 5%;
    left: 5%;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    transition: color 0.3s ease;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #76b900;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    position: relative;
    /* right: 5px; */
    width: 100%;
    /* margin: -100px 0 0 -50px; */
    background: #000;
    padding: 0 10px;

    flex-direction: column;
    white-space: nowrap;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /* #menu a {
    color: white;
  } */
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
